</main>

<footer>

	<a href="https://github.com/BlueCadet-3/doctor-express">
		<img src="/img/svg/github.svg" alt="Link to Github" id="github" />
	</a>

</footer>
<script type="text/javascript" src="/js/fouc.js" async defer></script>
</body>

</html>
