</main>

<footer>

  <a href="https://github.com/BlueCadet-3/doctor-express">
    <i class="fab fa-github"></i>
  </a>

</footer>
<script type="text/javascript" src="/js/fouc.js" async defer></script>
</body>
</html>
