<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style> .no-js { visibility: visible; } </style>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/edit-comment.js" async defer></script>
	<title><%= title %></title>
</head>
<body style="visibility: hidden;" class="no-js">
<script> document.querySelector('body').classList.remove('no-js'); </script>
<header>
	<nav id="topnav">
		<a href="/">
			<img src="/img/doctor.png" alt="doctor" id="doctor">
		</a>
		<h1 id="title">Doctor Express</h1>
		<% if (user) { %>
			<div id="sign-out">
				<a href="/auth/logout">
					<img src="/img/svg/logout.svg" alt="sign-out" id="sign-out">
				</a>
				<a href="/users/<%= user.role %>/<%= user._id %>" id="avatar">
					<div id="avatar">
						<img src="<%= user.auth.avatar %>" alt="avatar" id="avatar">
					</div>
				</a>
			</div>
			<% } else { %>
				<a href="/auth/google" id="sign-in">
					<img src="/img/google-sign-in.png" id="google-sign-in" alt="Sign in with Google">
				</a>
			<% } %>
		</ul>
	</nav>
</header>

	<main>
