/* ------------ */
/* Font Imports */
/* ------------ */

@font-face {
	font-family: "Sansita Swashed";
	src: url("./fonts/SansitaSwashed.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("./fonts/RobotoMono.ttf");
	font-display: swap;
}

/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {
	/* Font declarations */
	--font-headers: "Sansita Swashed";
	--font-body: "Roboto Mono";
	/* Modular scale */
	--ratio: 1.2;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
	/* Colors */
	--bgc-01: hsla(30, 24%, 93%, 1);
	--bgc-02: hsla(36, 5%, 62%, 1);
	--bgc-03: hsla(0, 4%, 58%, 1);
	--bgc-04: hsla(202, 91%, 87%, 1);
	--bgc-05: hsla(214, 29%, 42%, 1);
	/* Shadows */
	--shadow-01: ;/* header */
	--shadow-02: ;/* footer */
	---shadow-03: box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; /* button */
	/* Layout */
	--header-height: 96px;
	--footer-height: 80px;
	--body-height: calc(100vh - var(--header-height) - var(--footer-height));
	/* Scroll behavior */
	scroll-behavior: smooth;
}

/* ----------------------- */
/* Universal Element Rules */
/* ----------------------- */

::selection {
	background-color: var(--bgc-04);
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

* {
	display: flex;
	flex-direction: column;
	place-self: center;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	user-select: none;
	user-zoom: none;
}

/* Hide artifacts from using flex on * selector */
head,
script {
	display: none;
}

body {
	width: 100%;
	background-color: var(--bgc-03);
}

html {
	max-width: 100%;
	font-family: var(--font-body);
	line-height: 1.5;
}

button {
	background-color: var(--bgc-04);
	font-family: var(--font-headers);
	font-size: larger;
	padding: var(--s-1);
	border: 1px solid var(--bgc-05);
	border-radius: var(--s-5);
	box-shadow: var(---shadow-03);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-headers);
}

h1 {
	font-size: clamp(var(--s4), var(--s5), var(--s5));
	font-weight: 600;
	line-height: 1.167;
	color: var(--bgc-05);
}

h2 {
	font-size: var(--s4);
	font-weight: 300;
	line-height: 1.2;
}

h3 {
	font-size: var(--s3);
	font-weight: 400;
	line-height: 1.167;
}

h4 {
	font-size: var(--s2);
	font-weight: 400;
	line-height: 1.235;
}

h5 {
	font-size: var(--s1);
	font-weight: 400;
	line-height: 1.334;
}

h6 {
	font-size: var(--s0);
	font-weight: 500;
	line-height: 1.6;
}

main {
	width: 100%;
	max-height: var(--body-height);
	overflow-y: scroll;
	margin-top: var(--header-height);
	margin-bottom: var(--footer-height);
}

p {
	background-color: hsl(201, 92%, 98%);
	text-indent: var(--s3);
	max-width: 60ch;
	padding: var(--s1);
	border-radius: var(--s-5);
	margin: var(--s-5);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

svg {
	max-width: 48px;
	height: auto;
	fill: var(--bgc-04);
}

button:hover,
svg:hover {
	filter: grayscale(60%);
	cursor: pointer;
}

/* ------ */
/* Header */
/* ------ */

header {
	background-color: var(--bgc-01);
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--header-height);
	backdrop-filter: blur(8px);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav#topnav {
	width: 100%;
	height: var(--header-height);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

img#doctor {
	width: clamp(48px, 96px, 96px);
}

img#google-sign-in {
	width: clamp(100px, 191px, 191px);
	margin-right: var(--s0);
}

div#sign-out {
	display: inherit;
	flex-direction: inherit;
}

svg#sign-out {
	width: clamp(36px, 48px, 48px);
	fill: var(--bgc-04);
	stroke: var(--bgc-05);
}

img#avatar {
	max-width: clamp(48px, 96px, 96px);
	height: auto;
	padding: var(--s-3);
	border-radius: 50%;
}

/* Footer */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);
	place-content: center;
	background-color: var(--bgc-01);
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

svg#github {
	fill: var(--bgc-05);
	min-width: 60px;
	height: auto;
}

/* Index page */

div#index {
	width: 100%;
	max-height: var(--body-height);
	overflow-y: scroll;
}

h2.subheader,
div#new-user > h2 {
	background-color: var(--bgc-05);
	width: clamp(320px, 90%, 900px);
	text-align: center;
	color: var(--bgc-01);
	padding: var(--s3);
	margin: var(--s2) 0;
	border-radius: var(--s-5);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* ---------- */
/* Onboarding */
/* ---------- */

div#new-user > form {
	width: min(340px, calc(70% + 100px));
	margin-bottom: 100px;
}

div#new-user > form > label {
	color: var(--bgc-05);
	place-items: center;
	font-family: var(--font-headers);
	font-size: var(--s3);
	margin: 8px 0;
}

select {
	width: 90%;
	place-items: center;
	font-family: inherit;
	font-size: large;
	outline: 1px dotted var(--bgc-05);
	padding: var(--s-3);
	border-radius: var(--s-5);
	margin: var(--s5) auto;
}

option {
	padding: var(--s-3);
}

div#new-user > form > input {
	background-color: whitesmoke;
	flex-direction: row;
	width: clamp(70%, 80%, 80%);
	text-align: center;
	font-family: inherit;
	font-size: larger;
	padding: var(--s-4);
	margin: var(--s0) auto;
	border-radius: var(--s-5);
	border-bottom: 2px solid var(--bgc-05);
}

div#new-user > form > input:focus {
	border-bottom: 2px dotted var(--bgc-04);
}

div#new-user > form > button {
	margin: 0 auto;
}

/* Patient portal */

section#patient-portal {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"notes notes info"
		"notes notes info"
		"notes notes info";
}

/* Patient notes */

div#patient-notes {
	all: unset;
	max-height: var(--body-height);
	grid-area: notes;
	overflow-y: scroll;
}

div#new-note {
	width: 100%;
}

form#new-note {
	width: inherit;
}

textarea#new-note {
	width: 90%;
	max-width: 66ch;
	min-height: 120px;
	font-size: large;
	resize: none;
	padding: var(--s0);
	border: 1px solid var(--bgc-04);
	border-radius: var(--s-5);
	margin: var(--s0);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

textarea#new-note:focus {
	border: 1px dotted var(--bgc-05);
}

div.note-header {
	background-color: var(--bgc-05);
	color: var(--bgc-01);
	display: flex;
	flex-direction: row;
	gap: var(--s0);
	padding: var(--s0);
	margin: var(--s0) var(--s-4) 0;
	border-radius: var(--s-5);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.toolbar {
	display: inherit;
	flex-direction: inherit;
	margin-left: var(--s-5);
}

div.delete > svg,
div.edit > svg {
	width: clamp(36px, 40px, 48px);
	height: auto;
}

span.note {
	background-color: whitesmoke;
	max-width: 55ch;
	padding: var(--s0);
	margin: 0 var(--s0);
	border: 1px solid var(--bgc-04);
	border-radius: var(--s-5);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Patient info display */

div#patient-profile {
	width: 100%;
	grid-area: profile;
	border: 1px solid var(--bgc-05);
}

div.patient-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: whitesmoke;
	padding: var(--s-5);
	border-bottom: 1px dotted var(--bgc-04);
}

div.patient-info:last-of-type {
	border-bottom: none;
}

h3#patient-info {
	width: inherit;
	background-color: var(--bgc-05);
	color: var(--bgc-01);
	align-items: center;
	padding: var(--s-5);
}

span.patient-key {
	font-family: var(--font-headers);
	color: var(--bgc-05);
}

span.patient-value {
	margin-left: auto;
}

/* Patient medications */

div#patient-medications {
	grid-area: medications;
	width: 100%;
	gap: var(--s0);
	margin: var(--s0) 0;
	overflow-y: scroll;
}

div.medication-card {
	background-color: whitesmoke;
	width: 100%;
	border: 1px solid var(--bgc-05);
	border-bottom: none;
}

div.medication-header {
	width: 100%;
	background-color: var(--bgc-05);
	border: 1px solid var(--bgc-05);
	padding: var(--s-5);
}

h3.medication-header {
	color: var(--bgc-01);
}

div.medication-info {
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: var(--s-5);
	border-bottom: 1px dotted var(--bgc-04);
}

div.medication-info:last-of-type {
	border-bottom: none;
}

span.medication-key {
	font-family: var(--font-headers);
	color: var(--bgc-05);
}

span.medication-value {
	text-align: right;
	margin-left: var(--s-3);
}

div.medication-info > span > input {
	padding: var(--s-3);
	font-family: inherit;
	border: 1px solid var(--bgc-04);
	border-radius: var(--s-5);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.medication-info > span > input:focus {
	border: 1px dotted var(--bgc-05);
}

button#add-medication {
	margin: var(--s-3) 0;
}

div#patient-info-container {
	grid-area: info;
	max-width: 320px;
	max-height: var(--body-height);
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	:root {
		--ratio: 1.1;
		--header-height: 64px;
		--footer-height: 64px;
	}
	img#doctor{
		width: 60px;
		height: auto;
	}
	img#google-sign-in {
		width: 120px;
		height: auto;
	}
	svg#sign-out {
		width: 36px;
		height: auto;
	}
	img#avatar {
		width: 72px;
		height: auto;
	}
	section#patient-portal {
		display: flex;
		flex-direction: column;
		max-height: var(--body-height);
		gap: var(--s0);
		overflow-y: scroll;
	}
	div#patient-notes {
		display: flex;
		flex-direction: column;
		min-height: var(--body-height);
		margin: var(--s0) 0;
	}
	div#patient-info-container {
		height: min-content;
		overflow-y: initial;
		padding: var(--s0) 0;
		gap: var(--s0);
	}
	div#patient-medications {
		max-height: initial;
		gap: var(--s0);
		overflow-y: initial;
	}
	div.medication-card:last-of-type {
		border-bottom: 1px solid var(--bgc-05);
	}
}
