@font-face {
	font-family: "Sansita Swashed";
	src: url("./fonts/SansitaSwashed.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("./fonts/RobotoMono.ttf");
	font-display: swap;
}

:root {
	/* Font declarations */
	--font-headers: "Sansita Swashed";
	--font-body: "Roboto Mono";
	/* Modular scale */
	--ratio: 1.2;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
	/* Colors */
	/* Layout */
	--header-height: 96px;
	--footer-height: 80px;
	--body-height: calc(100vh - var(--header-height) - var(--footer-height));
}

* {
	display: flex;
	flex-direction: column;
	place-self: center;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	user-select: none;
	user-zoom: none;
}

body {
	width: 100%;
}

/* Hide artifacts from using flex on * selector */
head,
script {
	display: none;
}

html {
	max-width: 100%;
	font-family: var(--font-body);
	line-height: 1.5;
}

header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: var(--header-height);
	background-color: transparent;
	backdrop-filter: blur(8px);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav#topnav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

div#sign-out {
	display: flex;
	flex-direction: row;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-headers);
}

h1 {
	font-size: var(--s5);
	font-weight: 300;
	line-height: 1.167;
}

h2 {
	font-size: var(--s4);
	font-weight: 300;
	line-height: 1.2;
}

h3 {
	font-size: var(--s3);
	font-weight: 400;
	line-height: 1.167;
}

h4 {
	font-size: var(--s2);
	font-weight: 400;
	line-height: 1.235;
}

h5 {
	font-size: var(--s1);
	font-weight: 400;
	line-height: 1.334;
}

h6 {
	font-size: var(--s0);
	font-weight: 500;
	line-height: 1.6;
}

p {
	background-color: hsl(201, 92%, 98%);
	text-indent: var(--s3);
	max-width: 60ch;
	padding: var(--s1);
	border-radius: var(--s-5);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main {
	width: 100%;
	margin-top: var(--header-height);
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);
	place-content: center;
	background-color: transparent;
	backdrop-filter: blur(7px);
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

footer > a > img {
	min-width: 60px;
	height: auto;
}

h2.subheader {
	background-color: hsl(201, 92%, 86%);
	min-width: 600px;
	max-width: 50vw;
	text-align: center;
	padding: var(--s3);
	margin: var(--s2) 0;
	border-radius: var(--s-5);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Header */

img#doctor {
	width: fit-content;
}

img#google-sign-in {
	width: fit-content;
}

/* Footer */
img#github {
	max-width: 60px;
}

/* Index page */

div#index {
	width: 100%;
}

/* Onboarding */
select {
	width: 90%;
	place-items: center;
	font-family: inherit;
	font-size: large;
	outline: 1px dotted #000;
	padding: var(--s-3);
	margin: var(--s5) auto;
}

option {
	padding: var(--s-3);
}

div#new-user > form {
	width: 100%;
	margin-bottom: 100px;
}

div#new-user > form > label {
	place-items: center;
	font-family: var(--font-headers);
	font-size: var(--s3);
	margin: var(--s0) 0;
}

div#new-user > form > input {
	flex-direction: row;
	width: 90%;
	text-align: center;
	font-family: inherit;
	font-size: larger;
	padding: var(--s-4);
	margin: var(--s0) auto;
	border-bottom: 2px solid #000;
}

div#new-user > form > input:focus {
	border-bottom: 2px dotted #000;
}

div#new-user > form > button {
	font-family: var(--font-headers);
	font-size: larger;
	padding: var(--s-1);
	border: 1px solid #000;
	border-radius: var(--s-5);
	margin: 0 auto;
}

img#sign-out {
	width: 40px;
	height: auto;
}

img#avatar {
	max-width: 96px;
	height: auto;
	padding: var(--s-3);
	border-radius: 50%;
}

/* Patient portal */

section#patient-portal {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"notes notes info"
		"notes notes info"
		"notes notes info";
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

/* Patient notes */

div#patient-notes {
	all: unset;
	max-height: var(--body-height);
	grid-area: notes;
	border-right: 1px dotted hsl(201, 92%, 86%);
	overflow-y: scroll;
}

div.note-header {
	background-color: hsl(201, 92%, 86%);
	display: flex;
	flex-direction: row;
	gap: var(--s0);
	padding: var(--s0);
	margin-top: var(--s0);
	border-radius: var(--s-5);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.toolbar {
	display: inherit;
	flex-direction: inherit;
}

div.toolbar > form > div > img,
div.toolbar > div > img {
	max-height: 36px;
	width: auto;
}

div#new-note {
	width: 100%;
}

form#new-note {
	width: 100%;
}

textarea#new-note {
	width: 90%;
	max-width: 66ch;
	min-height: 120px;
	resize: none;
	padding: var(--s0);
	border: 1px solid #000;
	border-radius: var(--s-5);
	margin: var(--s0);
}

button#new-note {
	font-family: var(--font-headers);
	font-size: large;
	padding: var(--s0);
	border-radius: var(--s-5);
}

span.note {
	background-color: antiquewhite;
	max-width: 55ch;
	padding: var(--s0);
	margin: 0 var(--s0);
	border-radius: var(--s-5);
}

/* Patient info display */

div#patient-profile {
	width: 100%;
	grid-area: profile;
}

div.patient-info {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: var(--s-5);
}

h3#patient-info {
	width: inherit;
	align-items: center;
	background-color: hsl(201, 92%, 86%);
}

span.patient-key {
	font-family: var(--font-headers);
}

span.patient-value {
	margin-left: auto;
}

/* Patient medications */

div#patient-medications {
	grid-area: medications;
	width: 100%;
	overflow-y: scroll;
}

div.medication-card {
	width: 100%;
}

div.medication-header {
	width: 100%;
	background-color: hsl(201, 92%, 86%);
}

h3.medication-header {
}

div.medication-info {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: var(--s-5);
	border: 1px solid hsl(201, 92%, 62%);
}

span.medication-key {
	justify-self: flex-start;
	font-family: var(--font-headers);
}

span.medication-value {
	margin-left: auto;
}

div#patient-info-container {
	grid-area: info;
	max-width: 320px;
	max-height: var(--body-height);
	margin: 0 auto;
}
