<%- include('../partials/header') %>

<!-- <div id="patient-notes">
  <h2>December 3, 2020</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis nulla esse facere voluptate obcaecati! Ducimus distinctio, nisi consectetur quos mollitia sunt veritatis beatae, cupiditate ex accusamus voluptatem quasi cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque minus at facere commodi, sed quis similique ex reiciendis vitae repudiandae quod maiores eligendi vero nobis cum atque. Soluta, libero minus.
  </p>

  <h2>December 2, 2020</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis nulla esse facere voluptate obcaecati! Ducimus distinctio, nisi consectetur quos mollitia sunt veritatis beatae, cupiditate ex accusamus voluptatem quasi cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque minus at facere commodi, sed quis similique ex reiciendis vitae repudiandae quod maiores eligendi vero nobis cum atque. Soluta, libero minus.
  </p>

  <h2>December 1, 2020</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis nulla esse facere voluptate obcaecati! Ducimus distinctio, nisi consectetur quos mollitia sunt veritatis beatae, cupiditate ex accusamus voluptatem quasi cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque minus at facere commodi, sed quis similique ex reiciendis vitae repudiandae quod maiores eligendi vero nobis cum atque. Soluta, libero minus.
  </p>

  <h2>December 1, 2020</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis nulla esse facere voluptate obcaecati! Ducimus distinctio, nisi consectetur quos mollitia sunt veritatis beatae, cupiditate ex accusamus voluptatem quasi cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque minus at facere commodi, sed quis similique ex reiciendis vitae repudiandae quod maiores eligendi vero nobis cum atque. Soluta, libero minus.
  </p>

  <h2>December 1, 2020</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis nulla esse facere voluptate obcaecati! Ducimus distinctio, nisi consectetur quos mollitia sunt veritatis beatae, cupiditate ex accusamus voluptatem quasi cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque minus at facere commodi, sed quis similique ex reiciendis vitae repudiandae quod maiores eligendi vero nobis cum atque. Soluta, libero minus.
  </p>

</div> -->

<div id="patient-notes">

  <h2>Notes</h2>

  <% if (patient.notes.length) { %>

    <% patient.notes.forEach(function(n) { %>
    <%= n.note %>
    <% }); %>
    <% } %>


  <h2>Add A New Note</h2>

  <form action="/patients/<%= patient._id %>/notes" method="POST" id="new-note">
    <label>
      Note
      <textarea name="note" id="new-note" cols="30" rows="10"></textarea>
    </label> <br>
  
    <button type="submit">Create New Note</button>
  
  </form>

</div>

<%- include('../partials/footer') %>
