<%- include('../partials/header') %>

<h1>Add A New Note</h1>

<form action="/patients/<%= patientId %>/notes" method="POST" id="new-note">
  <label>
    Note
    <textarea name="note" id="new-note" cols="30" rows="10"></textarea>
  </label> <br>

  <button type="submit">Create New Note</button>

</form>


<%- include('../partials/footer') %>