<%- include('../partials/header') %>

<script src="/js/onboard.js" async></script>

<div id="new-user">
	<label for="role-select">How will you be using our platform?</label>
	<select name="role" id="role-select">
		<option value="none" selected>--Please choose an option--</option>
		<option value="doctor">Doctor</option>
		<option value="patient">Patient</option>
	</select>

	<form action="/users/onboard" method="POST" id="new-doctor">
		<input type="hidden" name="role" value="doctor" />
		<label> Date of Birth </label>
		<input type="text" name="birthDate" />
		<br />
		<label> State </label>
		<input type="text" name="state" />
		<br />
		<button type="submit">Submit</button>
	</form>

	<form action="/users/onboard" method="POST" id="new-patient">
		<input type="hidden" name="role" value="patient" />
		<label> Date of Birth </label>
		<input type="text" name="birthDate" />
		<br />
		<label> Height </label>
		<input type="text" name="height" />
		<br />
		<label> Weight </label>
		<input type="text" name="weight" />
		<br />
		<label> Blood Type </label>
		<input type="text" name="bloodType" />
		<br />
		<button type="submit">Submit</button>
	</form>
</div>

<%- include('../partials/footer') %>
